@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

#header {
    text-align: center;
    color: black;
    border-bottom: 10px solid black;
}

.textArea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    min-height: 80px;
}

.description {
    white-space: pre-wrap;
    padding: 0;
}

.time-block {
    text-align: center;
}

.row {
    white-space: pre-wrap;
    min-height: 80px;
    border-top: 1px solid white;
    margin-top: 2px;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    border-left: 1px dashed #000000;
}

.dayHour {
    margin-bottom: 0;
}

.past {
    background-color: rgb(148, 148, 143);
    color: white;
    cursor: pointer;
}

.present {
    background-color: #e6d862;
    color: rgb(0, 37, 247);
    cursor: pointer;
    font-size: 20px;
}

.future {
    background-color: #77c0dd;
    color: white;
    cursor: text;
    cursor: pointer;
}

.saveBtn {
    background-color: #d86420;
    color: white;
    cursor: pointer;
    min-height: 80px;
    background-color: #d1612d;
    color: white;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#icon:hover {
    font-size: 40px;
    transition: all .2s ease-in-out;
}

#icon {
    margin: 0 auto;
    padding-right: 40px;
    padding-top: 5px;
}